.app{
  max-width: 1500px;
  padding: 0 1rem;

}

/* // Extra small devices (portrait phones, less than 576px) */
@media (min-width: 319px) {
  .app{
    width: 319px;
  }
} 

/* // Extra small devices (portrait phones, less than 576px) */
@media (min-width: 424px) {
  .app{
    width: 424px;
  }
}  

/* // Small devices (landscape phones, less than 768px) */
@media (min-width: 767px){
  .app{
    width: 767px;
  }
}

/* // Medium devices (tablets, less than 992px) */
@media (min-width: 991px){
  .app{
    width: 991px;
  }
} 

/* // Large devices (desktops, less than 1200px) */
@media (min-width: 1199px) {
  .app{
    width: 1199px;
  }
}
/* // Large devices (desktops, less than 1200px) */
@media (min-width: 1500px) {
  .app{
    width: 1450px;
  }
}
